*, *::before, *::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
}
body {
    margin: 0 auto;
    padding: 0 0 10px 0;
    max-width: 1800px;
    font-family: 'Roboto', sans-serif;
}
.controls {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #fff;
    height: 60px;
    padding: 0 20px;
    width: 101%;
    z-index: 999;
}
.controls div {
    padding-right: 5px;
    display: flex;
    align-items: center;
}
.controls span {
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111;
    font-size: 0.9em;
}
.controls-1 span:nth-child(1) {
    padding-left: 0;
}
.controls .controls-1 {
    padding-right: 0;
}
.controls span.league-dash {
    padding: 0 5px 0 10px;
}
.controls select {
    padding: 5px;
    min-width: 50px;
    border: none;
    background-color: #e7e7eb;
}
.controls select option {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #000;
}
.controls-league-name {
    margin-top: -2px;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 60px auto 0;
    width: 100%;
    overflow-x: scroll;
}
thead {
    position: sticky;
    background-color: #122577;
    top: 60px;
    color: #fff;
    border-top: none;
    z-index: 990;
}
th {
    padding: 8px 0;
}
td {
    padding: 5px 10px;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    text-align: center;
}
td:nth-child(1) {
    background-color: #122577;
    border: none;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    width: 35px;
}
td:nth-child(1), td:nth-child(2) {
    width:35px; 
    max-width:35px;
    min-width:35px;
    padding: 0;
}
td:nth-child(1), td:nth-child(2), td:nth-child(3), th:nth-child(1), th:nth-child(2), th:nth-child(3) {
    position: sticky;
}
th:nth-child(1), th:nth-child(2), th:nth-child(3) {
    background-color: #122577;
    top: 0;
}
td:nth-child(1), th:nth-child(1) {
    left: 0;
}
td:nth-child(2), th:nth-child(2) {
    left: 35px;
}
td:nth-child(3), th:nth-child(3) {
    left: 70px;
}
tbody tr:nth-child(even) td:nth-child(2), tbody tr:nth-child(even) td:nth-child(3) {
    background-color: #f5f5f5;
}
tbody tr:nth-child(odd) td:nth-child(2), tbody tr:nth-child(odd) td:nth-child(3) {
    background-color: #fff;
}
tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}
tbody tr:hover, tbody tr:hover td:nth-child(2), tbody tr:hover td:nth-child(3) {
    background-color: #dfe7f1;
}

.multiselect {
    position: relative;
    display: block !important;
  }
  
  .selectBox {
    position: relative;
    display: block !important;
  }
  
  .selectBox select {
    width: 100px;
    display: block !important;
    z-index: -1;
  }
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
    background-color: #fff;
    position: absolute;
    width: 100px;
    top: 25px;
    padding: 0;
  }
  
  #checkboxes label {
    padding: 5px;
    display: block;
}

#checkboxes input {
    vertical-align: middle;
}

  #checkboxes span {
    font-weight: normal;
  }
  
  #checkboxes label:hover {
    background-color: #eee;
  }

@media only screen and (max-width: 920px) {
    body {
        padding: 0 0 10px 0;
    }
    table {
        margin-top: 135px;
    }
    .controls {
        height: 135px;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        padding: 8px 15px 0 15px;
        width: 101%;
    }
    .controls div {
        width: 100%;
        align-items: flex-start;
    }
    .league-dash {
        display: none;
    }
    .controls div:nth-child(1) b {
        padding-left: 12px;
    }
    .controls-1, .controls-2 {
        width: 100%;
    }
    .controls-1 > div, .controls-2 > div {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 0 10px;
    }
    .controls-1 select, .controls-2 select {
        width: 100%;
    }
    .controls-1 span, .controls-2 span {
        font-size: 0.8em;
        padding: 0;
    }
    thead {
        top: 135px;
    }
    th, td:nth-child(1), td:nth-child(2) {
        font-size: 0.8em;
    }
    .multiselect, .selectBox, .selectBox select {
        width: 100% !important;
        padding-right: 8px !important;
    }
    .overSelect {
        display: block !important;
    }
    .controls-2 > div:nth-child(2) {
        padding-left: 12px;
    }
    #checkboxes {
        width: 90%;
        padding: 0;
    }
    #checkboxes span {
        padding: 5px;
    }
    /* td:nth-child(3), th:nth-child(3) {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        clip-path: inset(0px -20px 0px 0px);
    } */
}