body {
    margin: 0 auto;
    padding: 0 0 10px 0;
    max-width: 1500px;
    font-family: sans-serif;
}
.controls {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #fff;
    height: 60px;
    padding: 0 10px;
    width: 100%;
    max-width: 1490px;
    margin-left: -5px;
}
.controls div {
    padding-right: 5px;
}
.controls span {
    padding: 0 5px;
}
.controls select {
    font-family: sans-serif;
    padding: 5px;
}
table {
    border-collapse: collapse;
    margin: 60px auto 0;
    width: 100%;
}
thead {
    position: sticky;
    background-color: #222;
    top: 60px;
    color: #fff;
    border-top: none;
}
th {
    padding: 8px 0;
}
td {
    padding: 5px 10px;
    border: 1px solid #444;
    text-align: center;
}
td:nth-child(1) {
    background-color: #222;
    border-left: none;
    border-top: none;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
}
td:nth-child(3), td:nth-child(4), td:nth-child(7) {
    text-align: left;
}
tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}
tbody tr:hover {
    background-color: #d5eaee;
}
@media only screen and (max-width: 560px) {
    table {
        margin-top: 80px;
    }
    .controls {
        height: 80px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-top: 8px;
    }
    .controls div:nth-child(1) select {
        width: 130px;
    }
    thead {
        top: 80px;
    }
}